.upcoming {

    float: left;
    width: 20%;
    font-family: fantasy;
    background-color: grey;
    color: whitesmoke;
    height: auto;
    border: maroon 2px solid;
    padding: 6px;
    margin: auto;
    position: fixed;

}
.red {
    color: maroon;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hot {
    color:black;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chilli {
    color: maroon;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.peppers {
    color: black;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.photos {
    background-color: cadetblue;
    border-color: brown;
    width: 75%;
    float: right;
    height: auto;
    display: grid;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
}
.about {
    color: black;
    background-color: cadetblue;
    border-color: black;
    float: right;
    width: 77.5%;
    height: 400px;
    border-style: solid;
    border-width: 3px;
}
body {
    background-color: coral;
}
.title {
    text-align: center;
    text-decoration: wavy;
    text-decoration-color: darkblue;
    font-weight: bolder;
}

h3 {
    
    
    
    color: black;
    
}
h1 {
    text-decoration: underline  #F7B733;
    
    color: black;

}
a:hover {
    background-color: gray;
}
body{
    font-family: fantasy;
}